@media only screen and (min-width: 37.5em) {
  /*-------NAVIGATION-----*/
    
    nav button { 
        display:none; 
    }  
    
    nav ul {
        justify-content: space-around;
    }
    
    nav ul li {
        display: block;
        
    }
    
    nav ul.hide {
        display: flex;
    }
/*--------SECTION----------*/
    
   section.forecast {
        display: flex;
        flex-direction: column;
        padding: 15px 0 0 0;
    }
    
   
    .townpic {
        display: flex;
        
    }
    
    .town-article {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns:1fr 1fr;
        max-width: 75%;
        margin: auto;
    
    }
    
    article div.town-article img {
        height: 85%;
        max-width: 100%;
        padding: 0 2px 0 0;
        align-self: center;
        
    } 
 
    .weatherpho {
        grid-gap: 2rem;
        grid-template-columns: 1fr 1fr;
        max-width: 75%;
        margin: auto;
        
    }

    .container h2 {
        grid-column-start: 1;
        grid-column-end: 3;
  
    }

    .highlow, .conditions, .mainPicture {
        display:grid;
        grid-gap: 1rem;
        max-width: 85%;
        grid-template-columns:1fr 1fr;
        margin: auto;
    }
    
  /*---------Home Page-------*/
    
    #townFormation {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 90%;
        padding: 20px 20px 10px 30px;
    
    }
    
}
