@media only screen and (min-width: 37.5em) {
    
    nav button { 
        display:none; 
    }  
    
    nav ul {
        display: flex;
        justify-content: space-around;
    }
    nav ul li {
        display: block;
        
    }
    nav ul.hide {
        display: flex;
    }

  
   section.forecast {
        display: flex;
        flex-direction: column;
        padding: 20px 0 0 0;
    }
    
    .town-article {
        flex-direction: row-reverse;
    }
    article p.town-article img {
        align-self: flex-start;
        height: 50%;
        padding: 0 10px  0 0;
    } 
 
    .weatherpho {
        grid-gap: 2rem;
        grid-template-columns: 1fr 1fr;
        max-width: 85%;
        margin: auto;
        
    }

    .container h2 {
        grid-column-start: 1;
        grid-column-end: 3;
  
    }

    .highlow, .current, .conditions, .windChill, .mainPicture {
        display:grid;
        grid-gap: 1rem;
        grid-template-columns:1fr 1fr;
        max-width: 95%;
        margin: auto;
    }
    
    
    
    
}
