/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
    
    line-height: 32px;
    font-family: Kavivanar;
    color: #230044;
}

header, nav, main, footer { 
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 90%;
    text-align: center;
}

/*-------------- HEADER -----------------*/
header {}

header h1 {
    font-size: 32px;
    color: #230044;
    }

header img {
    float: left;
    margin-right: 20px;
}

header.subheading {
    font-size: 20px;
    text-align: center;
}

/*-----------------NAV -----------------*/

nav {text-align: left;
}

nav button {
    margin: .2rem 2%;
    background-color: #D5C9EF;
    border: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #D5C9EF;
}

nav ul li a {
    display: block;
    color: #230044;
    padding: 1px 20px;
    text-decoration: none;
    border-top: 1px solid rgba(0,0,0,0.3);
}

nav ul li.active a {
    background-color: #AB74CD;
}

nav ul li a:hover {
    background-color: #5B23CE;
    color: white;    
}

nav ul.hide {
    display:none;
}

/*--------------- MAIN ------------------*/

main {
    padding: 0;
    max-width: 90%;
}

 h2 {
    font-size: 26px;       
}

h3, h4, h5 {
    font-size: 22px;     
}

main section div {}

main section picture img {
    display: block;
    width: 55%;
    height: auto;
    float: left;
    margin-right: 18%;
    margin-left: 10%;
}

main figure { 
    margin: 0;  
    width:100%; 
}

main figure img { 
    width: 100%; 
    height: auto;
}

/*--------------- SECTION ---------------*/
section {}
section img {
    float: left;
    margin-right: 20px;    
}
 
section.forecast { 
    display: none; 
}

section.forecast table {
        border: 1px solid #230044;
        border-collapse: collapse;
        margin: 7%;
        width: 85%;
    }
    
section.forecast table th, td {
        border: 1px solid #230044;
    }

article p.town-article img { 
    display: block;
    width: 50%;
    max-height: 50%; 
    margin-right: auto;
    margin-left: auto;
    padding: 1px 1px 12px 1px;
}

/*--------------- FOOTER ----------------*/

footer {
    text-align: center;
    background-color: #D5C9EF;
}
footer aside {
    line-height: normal;
    font-size: 15px;
    padding: 12px 0 0 0;
}
footer>p {
    font-size: 12px;
} 


