@media only screen and (min-width: 37.5em) {
    
    nav button { 
        display:none; 
    }  
    
    nav ul li {
        display: inline-block;
    }
    nav ul.hide {
        display: block;
    }

    main {
        clear: both;
    }
    
   section.forecast {
        display: block;
        clear: both;
        padding: 20px 0 20px 0;  
    }
    
    article p.town-article img {
        display: block;
        float: center;
        height: 50%;
        padding: 0 10px  0 0;
    } 
 
   

  
}
